 <%= error_messages_for 'svnauthz_settings' %>
<div class="box">
  <div class="box tabular">
    <p><%= form.text_field(:directory, :size => 100, :required => true) %></p>
    <p><%= form.text_field(:permission, :size => 100) %></p>
    <p><%= form.check_box(:group_flag)%></p>
  </div>
</div>
